<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".AplikasiNusantara" android:label="@string/quran_nusantara_nama" android:icon="@drawable/quranku_icon_transparan" android:roundIcon="@drawable/quranku_icon_transparan" android:theme="@style/TemaAplikasi">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
